#menu{
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    height: 100vh;
    overflow-y: scroll !important;
    #menu-header{
        h1{
            font-family: $montserrat;
            font-size: $font-size-xl;
            margin: 0;
            padding: 20px;
            border-bottom: 1px solid $gray;
        }
    }
    form{
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
        input{
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid $gray;
            border-radius: 5px;
            font-family: $ubuntu;
            font-size: $font-size-md;
        }
        button{
            padding: 10px;
            border: 1px solid $gray;
            border-radius: 5px;
            font-family: $ubuntu;
            font-size: $font-size-md;
            background-color: $gray;
            color: $white;
            cursor: pointer;
            &:hover{
                background-color: $dark-gray;
            }
        }
        p{
            font-family: $ubuntu;
            font-size: $font-size-sm;
            margin-top: 10px;
            a{
                color: $dark-gray;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        #fixed-info-popper, #display-info-popper{
            display: none;
            margin-left:10px !important;
            background-color: rgba(0, 0, 0, 0.75);
        }
        .disclaimer{
            font-family: $ubuntu;
            font-size: $font-size-xs;
            margin-top: 10px;
            color: $dark-gray;
            background-color: $white;
            padding: 10px;
            border-radius: 15px;
        }
    }
}